button {
    width: 100%;
}
table{
    background-color: #000;
}

.btn{
    border-radius: 50px;
    border: #fff;
}
.btn2{
    border-radius: 10px;
    border: #fff;
}
.btnorange {
    background-color: #ff9501;
    color: #fff;
    font-size: small;
  }
